@import "@/styles/variables.scss";

#fac-cont {
  .fac-out-map {
    background: $sub-color-g2;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin-bottom: 80px;
    @media (max-width: $mob) {
      margin-bottom: 50px;
    }
    .img {
      display: block;
    }
    .fac-top {
      position: relative;
      .loca-point {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        .number {
          position: relative;
          width: 35px;
          height: 35px;
          background: #fff;
          border-radius: 50%;
          color: $sub-color-g2;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          @media (max-width: $mob) {
            width: 30px;
            height: 30px;
            font-size: 13px;
          }
          &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -6px;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-top: 8px solid #fff;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            @media (max-width: $s-pc) {
              bottom: -5px;
              border-top: 6px solid #fff;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
            }
            @media (max-width: $mob) {
              bottom: -4px;
              border-top: 5px solid #fff;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
            }
          }
        }
        &.point1 {
          right: 50%;
          bottom: 40%;
        }
        &.point2 {
          left: 26%;
          top: 29%;
          @media (max-width: $mob) {
            top: 18%;
          }
        }
        &.point3 {
          left: 28%;
          bottom: 36%;
        }
        &.point4 {
          right: 17%;
          bottom: 25%;
        }
        &.point5 {
          left: 38%;
          top: 6%;
        }
        &.point6 {
          right: 43%;
          top: 8%;
        }
        &.point7 {
          left: 5%;
          top: 11%;
        }
      }
      .loca-name {
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        padding: 8px 15px;
        border-radius: 10px;
        @media (max-width: $s-pc) {
          font-size: 10px;
          padding: 5px 10px;
        }
        @media (max-width: $mob) {
          display: none;
        }
      }
    }
    .fac-top-cont {
      ol {
        display: flex;
        flex-wrap: wrap;
        padding: 60px 70px;
        gap: 15px;
        @media (max-width: $s-pc) {
          gap: 20px;
          padding: 50px 60px;
        }
        @media (max-width: $mob) {
          padding: 30px;
          gap: 15px 5px;
        }
        @media (max-width: 640px) {
          gap: 10px;
          padding: 40px 25px;
        }
        > li {
          width: calc(100% / 3 - 15px);
          display: flex;
          align-items: center;
          gap: 15px;
          @media (max-width: $s-pc) {
            width: calc(50% - 15px);
          }
          @media (max-width: 640px) {
            width: 100%;
          }
          .number {
            color: $sub-color-n;
            font-size: 16px;
            font-weight: 600;
            flex-shrink: 0;
            width: 35px;
            height: 35px;
            background: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: $mob) {
              width: 30px;
              height: 30px;
            }
            @media (max-width: 640px) {
              font-size: 14px;
              width: 25px;
              height: 25px;
            }
          }
          .fac-name {
            display: flex;
            flex-direction: column;
            line-height: 1.2;
            color: #fff;
            font-weight: 600;
            font-size: 20px;
            @media (max-width: $s-pc) {
              font-size: 18px;
            }
            @media (max-width: 640px) {
              font-size: 15px;
            }
            em {
              font-size: 14px;
              font-weight: 500;
              letter-spacing: 0.04em;
              color: #ddd;
              line-height: 1.2;
              margin-top: 5px;
              @media (max-width: $mob) {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
  .fac-cont-list {
    padding: 80px 150px;
    background: $sub-color-g2;
    border-radius: 10px;
    @media (max-width: $s-pc) {
      padding: 80px;
    }
    @media (max-width: $ss-pc) {
      padding: 80px 120px;
    }
    @media (max-width: $mob) {
      padding: 40px 50px;
    }
    @media (max-width: 640px) {
      padding: 30px;
    }
    h5 {
      font-size: 0;
    }
    li {
      padding: 80px 0;
    }
  }
}
