@import "@/styles/variables";

#parment-exhibition-cont {
  .map-cont {
    margin-top: 50px;
    @media (max-width: $mob) {
      margin-top: 20px;
    }
    .pin-box {
      width: 100%;
      height: 100%;
      position: relative;
      .map-pin {
        position: absolute;
        a {
          display: inline-flex;
          font-size: 20px;
          text-decoration: none;
          opacity: 0.8;
          transition: all 0.3s ease;
          @media (max-width: 1480px) {
            font-size: 15px;
          }
          &:hover {
            opacity: 1;
          }
          strong {
            color: #fff;
            padding: 10px 15px;
            background: #002856;
            @media (max-width: $mob) {
              padding: 6px 10px;
            }
          }
          .desc {
            color: #002856;
            padding: 10px 15px;
            background: #fff;
            @media (max-width: $mob) {
              display: none;
            }
          }
        }
        &.pin-1 {
          right: 5%;
          top: 26%;
          @media (max-width: $mob) {
            right: 20%;
            top: 20%;
          }
        }
        &.pin-2 {
          left: 53%;
          top: 15%;
          @media (max-width: $mob) {
            left: 20%;
            top: 20%;
          }
        }
        &.pin-3 {
          left: 23%;
          top: 45%;
          @media (max-width: $mob) {
            left: 35%;
            top: 52%;
          }
        }
        &.pin-4 {
          right: 13%;
          top: 25%;
        }
        &.pin-5 {
          left: 36%;
          top: 40%;
        }
        &.pin-6 {
          left: 10%;
          top: 48%;
        }
        &.pin-7 {
          left: 28%;
          top: 63%;
        }
      }
    }
  }
  .exh-cont {
    .exh-box {
      padding: 120px 0 0;
      @media (max-width: $mob) {
        padding: 90px 0 0;
      }
      color: #444;
      h4 {
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: 600;
        @media (max-width: $l-tab) {
          font-size: 26px;
        }
        @media (max-width: $mob) {
          font-size: 22px;
        }
        strong {
          color: $sub-color-n;
          &::after {
            content: "";
            display: inline-block;
            width: 1px;
            height: 22px;
            background: #ccc;
            margin: 0 15px;
            @media (max-width: $mob) {
              height: 16px;
              margin: 0 10px;
            }
          }
        }
      }
      .desc {
        font-size: 18px;
        padding: 20px 0 30px;
        font-weight: 500;
        line-height: 1.5;
        word-break: keep-all;
        white-space: pre-line;
        @media (max-width: $l-tab) {
          font-size: 16px;
        }
        @media (max-width: $mob) {
          font-size: 15px;
          padding: 10px 0 20px;
        }
      }
    }
  }
}
