@import "@/styles/variables";
.donation-content {
  .do-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    .do-cont {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      h4 {
        width: 200px;
        height: 200px;
        border: 1px solid #000;
        font-size: 22px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .do-list {
        width: calc(100% - 250px);
        ul {
          li {
            position: relative;
            padding-left: 15px;
            font-size: 18px;
            color: #000;
            margin: 10px 0;
            line-height: 1.5;
            font-weight: 500;
            &::before {
              content: "";
              position: absolute;
              width: 5px;
              height: 5px;
              background: #444;
              top: 10px;
              border-radius: 100%;
              left: 0;
            }
          }
        }
        .do-process {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          h5 {
            font-size: 20px;
            color: #000;
            margin-bottom: 10px;
            font-weight: 600;
          }
          ol {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
            li {
              padding: 35px 15px;
              background: #f8f8f8;
              border: 1px solid #e5e5e5;
              border-radius: 10px;
              width: calc(100% / 4 - 20px);
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              position: relative;
              + li {
                &::before {
                  content: "";
                  position: absolute;
                  transform: translateY(-50%) rotate(45deg);
                  width: 14px;
                  height: 14px;
                  border: 2px solid #666;
                  border-left: none;
                  border-bottom: none;
                  left: -27px;
                  top: 50%;
                }
              }

              .icon {
                width: 50px;
              }
              p {
                font-size: 16px;
                color: #000;
                line-height: 1.3;
                font-weight: 500;
                margin-top: 10px;
              }
            }
          }
        }
        .down-btns {
          margin-top: 30px;
          a {
            display: inline-block;
            background: $sub-color-n;
            color: #fff;
            padding: 15px 20px;
            border-radius: 5px;
            font-weight: 600;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .alert-ment {
          font-size: 18px;
          color: #000;
          font-weight: 700;
          padding-left: 20px;
          background: url("/img/contents/icon_ment_gray.png") no-repeat left
            center / 15px;
        }
      }
    }
  }
}
