#exhibition-notice {
  .main-board {
    padding: 150px 0 150px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    .notice {
      width: calc(100% - 500px);
      .list-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        h2 {
          font-size: 40px;
          font-weight: 600;
          color: #000;
        }
        a {
          font-size: 18px;
          font-weight: 500;
          line-height: 35px;
          &::after {
            display: inline-block;
            content: "";
            width: 35px;
            height: 35px;
            background: #444 url("/img/main/icon_more_w.png") no-repeat center
              center;
            border-radius: 50%;
            margin-left: 10px;
            vertical-align: middle;
          }
        }
      }
      .list-cont {
        ul {
          display: flex;
          justify-content: space-between;
          //   gap: 30px;
          li {
            border: 1px solid #ccc;
            width: calc(100% / 3 - 20px);
            border-radius: 10px;
            transition: all 0.3s ease;
            position: relative;
            &:hover {
              transform: translateY(-10px);
              border: 1px solid #000;
              box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
              text-decoration: underline;
            }
            a {
              gap: 20px;
              display: flex;
              flex-direction: column;
              padding: 60px 40px 110px 40px;
              span {
                display: block;
              }
              strong {
                font-size: 26px;
                font-weight: 600;
                line-height: 1.5;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
              }
              .list-noti {
                display: inline-block;
                margin: 0 auto 0 0;
                font-size: 16px;
                font-weight: 600;
                line-height: 35px;
                padding: 0 20px;
                border-radius: 5px;
                background: #000;
                color: #fff;
              }
              .list-desc {
                font-size: 16px;
                margin-top: 5px;
                color: #444;
                text-overflow: ellipsis;
                overflow: hidden;
                word-break: keep-all;
                display: flex;
                gap: 15px;
                .list-desc-txt {
                  white-space: pre-line;
                  display: -webkit-box;
                  -webkit-line-clamp: 4;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  line-height: 1.5;
                  font-size: 17px;
                }
                .btn-view {
                  flex-shrink: 0;
                  display: inline-block;
                  width: 55px;
                  height: 55px;
                  border-radius: 50%;
                  background: #f4f4f4 url(/img/main/notice-more-view.png)
                    no-repeat center center;
                  text-indent: -9999px;
                }
              }
              .list-date {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                padding: 15px 40px;
                border-top: 1px solid #ccc;
                font-size: 16px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
    .bnr {
      width: 400px;
      padding-right: 50px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 346px;
        height: 490px;
        background: #eee;
        right: 30px;
        top: 20px;
        z-index: 1;
      }
      .slick-slider {
        height: 490px;
        width: 100%;
        overflow: hidden;
        z-index: 10;
        img {
          width: 100%;
        }
      }
      .slick-arrow {
        display: none;
      }
      .slider-control {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        .slider-pagination {
          font-size: 15px;
          line-height: 30px;
          font-weight: 500;
          color: #fff;
          padding: 0 15px;
          background: #000;
          border-radius: 15px;
          margin-right: 0 auto;
        }
        .slider-arrow-wrapper {
          padding-right: 20px;
          display: flex;
          align-items: center;
          button {
            width: 20px;
            height: 20px;
            &:first-child {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
