@import "@/styles/variables";

#organization {
  .orga-table {
    .orga-cont-wrap {
      background: #f8f8f8;
      padding: 80px 50px 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 640px) {
        padding: 60px 30px 80px;
      }
      ul {
        max-width: 800px;
        width: 100%;
        text-align: center;
        li {
          &.depth1 {
            .depth-box {
              width: 220px;
              height: 220px;
              border-radius: 50%;
              background: #fff;
              border: 1px solid #ddd;
              position: relative;
              margin: 0 auto;
              z-index: 10;
              @media (max-width: $s-pc) {
                width: 200px;
                height: 200px;
                margin: 11px auto;
              }
              @media (max-width: $mob) {
                width: 150px;
                height: 150px;
                margin: 36px auto;
              }
              @media (max-width: 640px) {
                margin: 0 auto;
                margin-bottom: 132px;
                &::after {
                  width: 1px;
                  content: "";
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: -22px;
                  width: 1px;
                  height: 20px;
                  background: #ccc;
                }
              }
              &::before {
                position: absolute;
                content: "";
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 2px solid $sub-color-n;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                @media (max-width: $s-pc) {
                  width: 180px;
                  height: 180px;
                }
                @media (max-width: $mob) {
                  width: 130px;
                  height: 130px;
                }
              }
              .depth-cont {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                position: relative;
                &::after,
                &::before {
                  position: absolute;
                  content: "";
                  width: 14px;
                  height: 14px;
                  background: $sub-color-n;
                  border-radius: 50%;
                  z-index: 2;
                  @media (max-width: 640px) {
                    display: none;
                  }
                }
                &::before {
                  left: 1px;
                }
                &::after {
                  right: 1px;
                }
                strong {
                  font-size: 30px;
                  font-weight: 600;
                  color: #002856;
                  @media (max-width: $s-pc) {
                    font-size: 26px;
                  }
                  @media (max-width: $mob) {
                    font-size: 22px;
                  }
                }
                p {
                  font-size: 20px;
                  color: #002856;
                  font-weight: 500;
                  @media (max-width: $s-pc) {
                    font-size: 18px;
                  }
                  @media (max-width: $mob) {
                    font-size: 15px;
                  }
                }
              }
            }
          }
          &.depth2,
          &.depth3 {
            position: relative;
            width: 200px;
            border: 1px solid #ddd;
            margin-top: -80px;
            @media (max-width: $s-pc) {
              width: 160px;
            }
            strong {
              display: block;
              width: 100%;
              font-size: 20px;
              color: #fff;
              padding: 10px 20px;
              @media (max-width: $s-pc) {
                padding: 10px 15px;
                font-size: 18px;
              }
            }
            p {
              width: 100%;
              font-size: 18px;
              color: #222;
              padding: 10px 20px;
              background: #fff;
              @media (max-width: $s-pc) {
                font-size: 16px;
              }
            }
            &::before {
              content: "";
              position: absolute;
              top: -32px;
              width: 100%;
              height: 1px;
              background: #ccc;
              @media (max-width: $s-pc) {
                width: 150%;
              }
              @media (max-width: $mob) {
                width: 100%;
              }
            }
            &::after {
              content: "";
              position: absolute;
              width: 1px;
              height: 30px;
              background: #ccc;
              top: -32px;
            }
          }
          &.depth2 {
            float: left;
            strong {
              background: #8f993e;
            }
            &::before {
              left: 50%;
            }
          }
          &.depth3 {
            float: right;
            strong {
              background: $sub-color-n;
            }
            &::before {
              right: 50%;
            }
          }
        }
      }
    }
  }
  .orga-work {
    margin-top: 80px;
    .pg-tabs {
      margin-bottom: 50px;
      @media (max-width: $mob) {
        margin-bottom: 20px;
      }
    }
    .orga-list-wrap {
      .tab-content {
        ul {
          border-top: 1px solid #ddd;
          li {
            padding: 25px 20px;
            border-bottom: 1px solid #ddd;
            @media (max-width: $mob) {
              padding: 20px 10px;
            }
            h4 {
              font-size: 20px;
              font-weight: 600;
              color: #000;
              @media (max-width: $mob) {
                font-size: 18px;
              }
            }

            dl {
              display: flex;
              gap: 10px;
              font-size: 16px;
              margin-top: 10px;
              flex-wrap: wrap;
              @media (max-width: $mob) {
                font-size: 15px;
              }
              dt {
                line-height: 1.2;
                font-weight: 500;
                color: #000;
                @media (max-width: $l-tab) {
                  width: 80px;
                }
              }
              dd {
                padding-right: 15px;
                line-height: 1.2;
                color: #444;
                font-weight: 500;
                @media (max-width: $l-tab) {
                  width: calc(100% - 90px);
                  padding-right: 0;
                }
                & + dt {
                  border-left: 1px solid #ddd;
                  padding-left: 20px;
                  @media (max-width: $l-tab) {
                    padding-left: 0;
                    border: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
