$sub-color-n: #002856;
$sub-color-g: #444;
$sub-color-g2: #52555a;
$sub-color-b: #1f1e1e;
$sub-color-y: #ffde9c;
$sub-color-b2: #111315;

$s-pc: 1400px;

$hpad60: 0 60px;
$hpad80: 0 60px;

@mixin scr-rd-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
}
